//Paleta de colores
$color-container:gray;
$color-titulos:rgb(102, 98, 98);
//backgrounds a utilizar
$background-card:linear-gradient(45deg,transparent,#f1f1f1,transparent);
$background-card-box:linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);

//Separaciones entre elementos
$separacion-margin:50px;
$separacion-padding:20px;
//mediaquieries
$desktop:992px;
$tablet:760px;